// This is just proof of concept, lukas will make it look good later

.container {
	width: 100vh;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;

	> div {
		background-color: white;
		width: 10rem;
		height: 10rem;
		position: relative;

		$size: 5rem;
		$thickness: 0.5rem;
		$spinLength: 2s;
		$checkLength: 1s;

		> div,
		> svg {
			position: absolute;
			// copilot code
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border-radius: 50%;
			&.spinner {
				@keyframes spin {
					0% {
						transform: translate(-50%, -50%) rotate(0deg);
					}
					80% {
						background-color: blue;
					}
					100% {
						transform: translate(-50%, -50%) rotate(360deg);
						background-color: transparent;
					}
				}

				background-color: blue;
				width: $size;
				height: $size;
				position: relative;
				animation: spin $spinLength linear;
				animation-fill-mode: forwards;
				overflow: clip;

				> div {
					position: absolute;
					bottom: 50%;
					right: 50%;
					background-color: white;
					width: 5rem;
					height: 5rem;
				}
			}

			&.over {
				background-color: white;
				width: calc($size - $thickness);
				height: calc($size - $thickness);
			}

			&.check {
				@keyframes fill {
					0% {
						color: blue;
						// Fill svg with animation
						stroke-dasharray: 0 100;
						stroke-dashoffset: 0%;
					}
					100% {
						stroke-dasharray: 100 100;
						stroke-dashoffset: 100%;
						color: blue;
					}
				}

				width: calc($size - $thickness);
				height: calc($size - $thickness);
				color: transparent;
				animation: fill $spinLength linear;
				animation-fill-mode: forwards;
				animation-delay: $spinLength;
			}
		}
	}
}
